body{
    background: rgb(201, 208, 218); color: black;
margin-left: 40px;}

    h1{color:red;
        font-family:calibri;
    }
    h2{font-family:lucida sans;}
    p{font-size: 18px;}


